langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
deep-translator
langchain_groq
# langchain-chroma
chromadb==0.5.18
ragas
speechrecognition
langchain-groq
groq
tf-keras
grpcio==1.59.0
protobuf==4.25.0
langchain==0.0.350
langchain_chroma==0.0.1